.nav
  display: flex
  list-style: none

  &__item
    padding: 0 1rem

  &__link
    padding: 1rem 1.5rem
    text-decoration: none
    border-radius: .5rem
    color: #fff
    text-transform: uppercase

    &--active
      background: #00a1eb

    &:hover
      text-decoration: underline

    &--address
      &:hover
        background: #00a1eb