.slider
  font-family: Montserrat
  height: 60rem

  &__slide
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: #fff

  &__img
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 0

  &__title
    margin-bottom: 3rem
    font-size: 8rem
    z-index: 1
    font-weight: bold
    letter-spacing: 1rem

  &__text
    font-family: Hind
    font-size: 2.2rem
    z-index: 1
    letter-spacing: .5rem;