@import '__main.styl'
@import '__slider.styl'
@import '__gallery.styl'

.section
  &--slider
    max-width: 100%
    padding: 0 0 6.5rem 0

  &--about
    display: flex
    justify-content: center
    font-family: Montserrat

    &__aside
      flex: 1 0 50%
      min-height: 38rem

      &--left
        padding-right: 10rem
        display: flex
        flex-direction: column
        justify-content: space-between

      &--right
        position: relative
        background: url(../img/about.jpg) no-repeat center
        background-size: cover

    &__address
      font-size: 2.2rem
      margin: 3rem 0
      font-weight: bold
      color: #00a1eb
      font-style: normal

    &__button
      max-width: 15rem
      padding: 1.5rem 2rem
      text-transform: uppercase

    &__span
      position: absolute
      bottom: 4rem
      right: 4rem
      font-size: 2.2rem
      color: #fff
      text-transform: uppercase
      font-weight: bold

  &--assortment
    display: flex
    flex-direction: column
    align-items: center
    padding: 6.5rem 0

    &__par
      max-width: 63rem

    &__button
      max-width: 15rem
      padding: 1.5rem 2rem
      text-transform: uppercase

  &--items
    display: flex
    justify-content: space-around

    &__item
      display: inline-block
      text-align: center
      margin-right: 3rem
      flex: 1 0 33.3333%

      &:last-of-type
        margin-right: 0

    &__img
      display: inline-block
      width: 17rem
      height: 17rem
      background-color: #00a1eb
      position: relative
      border: .3rem solid #00a1eb
      border-radius: 50%
      margin-bottom: 4rem
      transition: background-color .3s

      &:hover
        background-color: #fff

      & img
        width: 9rem
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto

    &__button
      margin-top: 4rem
      padding: 1rem

  &--map
    min-width: 100%
    padding: 0
    text-align: right
    position: relative
    overflow: hidden

    &__par
      max-width: 50%

    &__par,
    &__title
      color: #fff

    & .map
      height: 50rem

      &__contact
        position: absolute
        padding-right: 4rem
        padding-top: 7rem
        top: 0
        right: 0
        color: #fff
        background-image: linear-gradient(105deg, transparent 10%, #00a1eb)
        display: flex
        flex-direction: column
        align-items: flex-end
        width: 50%
        height: 100%
        margin-left: auto

    &__button
      margin-top: 4rem
      padding: 1rem

  &--footer
    display: flex

    &__title
      text-transform: uppercase
      font-family: Montserrat
      font-size: 2.2rem
      color: grey

    &__item
      flex: 1 0 25%

      & ul
        font-family: Hind
        padding: 0
        padding-right: 2rem
        margin: 0
        list-style: none

        & li
          line-height: 1.8

          & a
            color: grey
            text-decoration: none