include assets/__mixins

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description' content='Freshy content')
		meta(name='keywords' content='Freshy keywords')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title Freshy
		+link('index.css')
		block style
		+script('utils.js')
		block script
	body
		include blocks/__header
		main
			block content
		include blocks/__footer