#google-map.map
.map__contact
	h2.section__title.section--map__title KONTAKT
	hr.section__hr.section__hr--white(align='right' width='80px')
	p.section__par.section--map__par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie egestas massa, et sollicitudin urna mattis faucibus. Praesent sagittis laoreet est, et efficitur enim lacinia id. Aenean imperdiet diam nec efficitur commodo. Morbi at purus tempus tellus tempus placerat. Sed faucibus sed elit at lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent posuere orci justo, eu fermentum quam cursus quis. Proin consequat molestie magna accumsan placerat. Nulla quis consectetur tortor. Nam viverra consectetur risus iaculis ultrices.
	button.button.button--white.section--map__button(type='button') HISTORIA<br>NASZEJ FIRMY

script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB2PBPXibk6hTN2R8KXfx8UwCeCRsSIb1o')