#slider.swiper-container.slider
	.swiper-wrapper.slider__wrapper
		.swiper-slide.slider__slide
			img.slider__img(src='./assets/img/slide-1.jpg' alt='slide-1.jpg')
			h1.slider__title ŚWIEŻE RYBY
			span.slider__text Zobacz, co jeszcze oferujemy!
		.swiper-slide.slider__slide
			img.slider__img(src='./assets/img/slide-2.jpg' alt='slide-2.jpg')
			h2.slider__title Second ŚWIEŻE RYBY
			span.slider__text Second Zobacz, co jeszcze oferujemy!